@import url("https://fonts.googleapis.com/css2?family=Quicksand:display=swap");

.center {
  background-color: #ffffff;
  padding: 2em 1em;
  margin: 0;
  min-height: 100vh;
}

.top {
  max-width: 90%;
  width: 100%;
  margin: 2em auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.text h3 {
  margin-bottom: 1em;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 31px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
  color: #020202;
}
.text p {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;
  color: rgba(2, 2, 2, 0.3);
}
.top select {
  border: none;
  outline: none;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.05em;
  color: #7d5930;
  background-color: transparent;
}

.line {
  border-top: 0.5px dashed rgba(2, 2, 2, 0.5);
  width: 100%;
}

.bottom {
  padding-top: 2em;
  max-width: 90%;
  width: 100%;
  margin: auto;
}

.bottom h3 {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 31px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
  color: #020202;
}

.bottom p {
  width: 348px;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;
  color: rgba(2, 2, 2, 0.3);
}
.form {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  margin: 1em auto;
}

.form > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 48%;
}

.form > div .input {
  width: 100%;
  height: 55px;
  left: 126px;
  top: 359px;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;
  color: rgba(2, 2, 2, 0.3);
  border: 0.5px dashed #7d5930;
  border-radius: 7px;
  padding: 0 1em;
  margin-bottom: 2em;
  outline: none;
}
.form > div .inputFile {
  width: 100%;
  height: 145px;
  outline: none;
  left: 126px;
  top: 359px;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;
  color: rgba(2, 2, 2, 0.3);
  border: 0.5px dashed #7d5930;
  border-radius: 7px;
  padding: 0 1em;
  margin-bottom: 2em;
}
.form > div .select {
  width: 100%;
  height: 55px;
  left: 126px;
  outline: none;

  top: 359px;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;
  color: rgba(2, 2, 2, 0.3);
  border: 0.5px dashed #7d5930;
  border-radius: 7px;
  padding: 0 1em;
  margin-bottom: 2em;
  background-color: transparent;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
}

.bottom button {
  width: 100%;
  height: 55px;
  background: rgba(125, 89, 48, 0.8);
  box-shadow: 0px 1px 1px rgba(251, 133, 0, 0.05);
  border-radius: 7px;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.05em;
  color: #ffffff;
  border: none;
  outline: none;
}

@media (max-width: 1024px) {
  .form {
    flex-direction: column;
  }
  .form > div {
    width: 98%;
  }
}

/* manage */

.btCap {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 2em;
}

.btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}
.center .btn1 {
  width: 247px;
  height: 55px;
  background: rgba(125, 89, 48, 0.8);
  box-shadow: 0px 1px 1px rgba(251, 133, 0, 0.05);
  border-radius: 7px;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.05em;
  border: none;
  outline: none;
  color: #ffffff;
}
.center .btn2 {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.05em;
  color: #7d5930;
  width: 247px;
  height: 55px;
  border: 1px dashed #7d5930;
  border-radius: 7px;
  background-color: transparent;
}

.order {
  width: 100%;
  height: 100%;
  left: 126px;
  top: 424px;
  background: #ffffff;
  box-shadow: 2px 2px 2px rgba(2, 2, 2, 0.1),
    inset 2px 2px 2px rgba(2, 2, 2, 0.1);
  border-radius: 20px 20px 0px 0px;
  padding: 2em 0;
}
.orderTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 0.5px dashed rgba(2, 2, 2, 0.5);
  padding: 0 2em 2em;
}
.orderTop h3 {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 31px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
  color: #020202;
}

.center .orderTop button {
  border: none;
  outline: none;
  background-color: transparent;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;
  color: #7d5930;
  width: unset;
}
.tableDiv {
  width: 100%;
  overflow-x: scroll;
}
.tableDiv::-webkit-scrollbar {
  width: 0;
  border-radius: 0;
}

/* Track */
.tableDiv::-webkit-scrollbar-track {
  box-shadow: none;
  border-radius: 0;
}

/* Handle */
.tableDiv::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 0;
}

/* Handle on hover */
.tableDiv::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
.table {
  width: 100%;
  padding: 1em;
}
.table thead tr .nth {
  width: 30px;
}
.table thead tr th {
  min-width: 100px;
  text-align: left;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
  letter-spacing: 0.05em;
  color: rgba(2, 2, 2, 0.3);
}
.table input {
  border: 0.5px dashed #7d5930;
  border-radius: 2px;
  width: 22px;
  height: 22px;
}

.table tbody tr {
  height: 40px;
  background: #ffffff;
  box-shadow: 1px 1px 2px rgba(2, 2, 2, 0.05),
    inset 1px 1px 2px rgba(2, 2, 2, 0.05);
}

.table tbody tr td {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.05em;

  color: rgba(2, 2, 2, 0.8);
}

.table tbody img {
  width: 80px;
  height: 80px;
}

.chart {
  width: 100%;
  height: 334px;
  left: 126px;
  top: 424px;
  border: 2px solid #eceef7;
  box-shadow: 0px 20px 50px rgba(220, 224, 249, 0.5);
  border-radius: 20px;
}
.chart img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media (max-width: 1440px) {
  .center {
    padding: 2em 0em;
  }
  .bottom {
    max-width: 98%;
  }
}
@media (max-width: 600px) {
  .btCap {
    flex-direction: column;
    gap: 2em;
  }

}

@media (max-width: 500px) {
    .btns {
      flex-direction: column;
      width: 100%;
    }
    .center
    .btns button{
      width: 100%;
    }
}
.outline {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0%;
  left: 0;
}

.del {
  display: flex;
  align-items: center;
  gap: 2em;
  color: rgba(2, 2, 2, 0.3);
}
