@import url("https://fonts.googleapis.com/css2?family=Quicksand:display=swap");

.main {
  background-color: #f5f5f5;
  padding: 2em 1em;
  margin: 0;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1440px;
  margin: auto;
  width: 100%;
}

.nav img {
  width: 106px;
  height: 28px;
}

.mid {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
}

.navList {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
}
.navList li {
  font-family: "Quicksand", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
  letter-spacing: 0.05em;
  color: rgba(2, 2, 2, 0.3);
  transition: all 0.3s ease-in-out;
  list-style: none;
}
.navList li:hover {
  color: #7d5930;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.navList li:hover > ::after {
  position: absolute;
  content: "";
  bottom: -50%;
  left: 50%;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background: #7d5930;
  transition: all 0.3s ease-in-out;
}

.active {
  color: #7d5930 !important;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.active::after {
  position: absolute;
  content: "";
  bottom: -50%;
  left: 50%;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background: #7d5930;
  transition: all 0.3s ease-in-out;
}

.mid select {
  border: none;
  background-color: transparent;
  font-family: "Quicksand", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
  letter-spacing: 0.05em;
  color: #7d5930;
  outline: none;
}

.cart {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

.cartIcon {
  color: rgba(2, 2, 2, 0.3);
  font-size: 16px;
  cursor: pointer;
}
.line {
  max-width: 1440px;
  margin: 4em auto 0;
  height: 0px;
  border: 0.5px solid rgba(71, 71, 71, 0.5);
}
.header {
  width: 100%;
  height: 630px;
  max-width: 1440px;
  margin: 0.5em auto 2em;
  background: url(/pi.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: contain;
  padding: 2em;
}
.headCap {
  width: 100%;
  height: 100%;
  max-width: 90%;
  margin-left: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 300px;
}

.content h2 {
  font-family: "Quicksand", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 0.2em;
}
.content p {
  font-family: "Quicksand", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;
  color: #ffffff;
  margin-bottom: 3em;
}

.play {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 110.46px;
  align-items: center;
}
.playIcon {
  font-size: 20px;
  color: #ffffff;
}
.play img {
  width: 110.46px;
  height: 36.13px;
}
.btn {
  display: flex;
  align-items: center;
  justify-self: center;
  gap: 1em;
}

.create {
  width: 115px;
  height: 40px;
  background: #7d5930;
  box-shadow: 0px 2px 30px rgba(125, 89, 48, 0.3);
  border-radius: 7px;
  font-family: "Quicksand", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.05em;
  color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
}

.login {
  justify-content: center;
  border: none;
  outline: none;
  width: 115px;
  height: 40px;
  background: #fff;
  box-shadow: 0px 2px 30px rgba(125, 89, 48, 0.3);
  border-radius: 7px;
  font-family: "Quicksand", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;
  color: #7d5930;
  cursor: pointer;
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
  height: 70px;
  margin: 2em 0;
}

.image img {
  width: 194.92px;
  height: 100%;
  object-fit: contain;
}

@media (max-width: 900px) {
}
