.main {
  height: 100vh;
  width: 100vw;
  position: fixed;
  background: white;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hide {
  overflow: hidden;
}
.hide1 {
  overflow: hidden;
}
.main img {
  height: 30px;
  width: 100%;
  margin-right: 0.5em;
  transform: translateY(115%);
  display: inline-block;
}