@import url("https://fonts.googleapis.com/css2?family=Quicksand:display=swap");

.message {
  position: absolute;
  top: 13%;
  background: green;
  color: #fff;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Quicksand", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
}
.messageIcon {
  font-size: 20px;
  color: #fff;
}
.error {
  position: absolute;
  top: 13%;
  background: red;
  color: #fff;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Quicksand", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
}
.messageIcon {
  font-size: 20px;
  color: #fff;
}
.sign {
  background-color: #f5f5f5;
  padding: 2em 1em;
  margin: 0;
  height: 100vh;
}
.signCap {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  max-width: 90%;
  width: 100%;
  margin: 1em auto 0;
  height: 90%;
}

.signCap img {
  width: 40%;
  height: 100%;
}

.signInput {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signInput h3 {
  font-family: "Quicksand", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 31px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
  color: #020202;
  margin-bottom: 0.5em;
}

.signInput p {
  font-family: "Quicksand", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
  margin-bottom: 1em;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;

  color: rgba(2, 2, 2, 0.3);
}

.signInput p a {
  color: #7d5930;
  font-weight: 900;
  font-size: 15px;
}

.input {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 2em auto;
}

.input input {
  width: 100%;
  height: 55px;
  border: 0.5px dashed #7d5930;
  border-radius: 7px;
  margin-bottom: 1em;
  font-family: "Quicksand", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;
  color: rgba(2, 2, 2, 0.3);
  padding: 0 1em;
  outline: none;
}
.input input[placeholder] {
  font-family: "Quicksand", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;
  color: rgba(2, 2, 2, 0.3);
}

.input button {
  width: 100%;
  height: 55px;
  font-family: "Quicksand", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.05em;
  color: #ffffff;
  background: rgba(125, 89, 48, 0.8);
  box-shadow: 0px 1px 1px rgba(251, 133, 0, 0.05);
  border-radius: 7px;
  border: none;
  outline: none;
}

.img {
  height: 70px;
}
.img img {
  width: 92.95px;
  height: 100%;
  object-fit: contain;
}

@media (max-width: 1024px) {
  .signCap img {
    display: none;
  }
  .signInput {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .input {
    width: 98%;
  }
  .sign {
    padding: 2em .2em;
  }
}
